
.thumbnail-gallery {
    max-width: 7in;
    margin: 1cm auto;
    padding: var(--thumbnail-gallery-inner-spacing);

    .thumbnail {
        width: 100%;
        border-radius: 2px;

        &.solo-centered {
            display: block;
            margin: calc(var(--thumbnail-gallery-inner-spacing) * 2) auto;
            padding: 0 calc(var(--thumbnail-gallery-inner-spacing) * 2);

            &+.caption {
                margin-block-start: calc(var(--thumbnail-gallery-inner-spacing) * -2);
            }
        }

        &.small {
            max-width: 2in;
            max-height: 2in;
        }
    }

    .thumbnail-full-image-link {
        flex-basis: 2in;
        flex-grow: 0.5;
        display: block;
        margin: var(--thumbnail-gallery-inner-spacing);
        line-height: 0;
    }

    .caption {
        flex-basis: 100%;
        text-align: center;
        padding: 1ex;
    }

    &.right,
    &.left {
        margin: 1em;

        h1+&, h2+&, h3+&, h4+&, h5+&, h6+& {
            margin-block-start: 0;
        }
    }

    &.right {
        float: right;
        margin-right: 0;
    }

    &.left {
        float: left;
        margin-left: 0;
    }
}


$postListThumbnail-smallScreenMaxWidthCutoff: 4in;


.posts .post .entry .thumbnail {

    max-width: 1.5in;
    margin: 1em;
    border-radius: 2pt;


    @media (max-width: $postListThumbnail-smallScreenMaxWidthCutoff) {
        margin-inline: auto;
        max-width: 100%;
    }

    &.right {
        float: right;
        margin-right: 0;
    }

    &.left {
        float: left;
        margin-left: 0;
    }

    &.right,
    &.left {
        &:first-child {
            margin-block-start: 0;
        }


        @media (max-width: $postListThumbnail-smallScreenMaxWidthCutoff) {
            float: none;
        }
    }
}
