---
layout: post
---

{%- if page.hero-image %}
<figure>
    <img src="{{ page.hero-image }}" alt="An image of the food in this recipe" class="hero-image" />
</figure>
{%- endif %}



<aside class="recipe-summary card">
    <h3>Recipe Summary</h3>

    {% if page.categories -%}
    <ul class="categories   chips">
        {%- for category in page.categories %}
        <li class="category   chip">{{ category }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}

{% if page.timing-in-minutes %}
    {% if page.timing-in-minutes.prep -%}
        <p>
        {%- if page.timing-in-minutes.prep.min -%}
            Preparation will take at least <strong>{{ page.timing-in-minutes.prep.min }} minutes</strong>
            {%- if page.timing-in-minutes.prep.max -%}
                &nbsp;and at most {{ page.timing-in-minutes.prep.max }} minutes
            {%- endif -%}
            .
        {%- endif -%}
        </p>
    {%- endif %}

    {% if page.timing-in-minutes.cook -%}
        <p>
        {%- if page.timing-in-minutes.cook.min -%}
            Cooking will take at least <strong>{{ page.timing-in-minutes.cook.min }} minutes</strong>
            {%- if page.timing-in-minutes.cook.max -%}
                &nbsp;and at most {{ page.timing-in-minutes.cook.max }} minutes
            {%- endif -%}
            .
        {%- endif -%}
        </p>
    {%- endif -%}
{%- endif %}
</aside>

{{ content }}
